
/* Light theme color */
$light-background: black;
$light-background-secondary: #eaeaea;
$light-background-header: #002b36;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #ffb531;
$light-table-color: #ffb531;

// #heading__title {
//   font-family: 'JetBrains Mono', monospace !important;
// }
