<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
        {{ $style := resources.Get "css/style.css" }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    </head>

    {{ block "body" . }}
        <body>
    {{ end }}
    
        <div class="container">
            {{ partial "header.html" . }}

            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
