@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@media only screen and (max-width: 900px) {
  .header__inner {
    width: 1163px;
  }
}

@media only screen and (min-width: 1024px) {
  .header__inner {
    width: 1163px;
  }
}



#heading__title {
  font-family: 'JetBrains Mono', monospace;
}

[data-theme='dark'] #heading__title {
  color: #ffb531;
}
[data-theme='light'] #heading__title {
  color: #ffb531;
}



[data-theme='dark'] body {
  font-family: 'Open Sans', sans-serif;
  background-color: #073642;
  color: #f1f1f1;
  letter-spacing: 0.75px;
  word-spacing: 1.25px;  
  line-height: 1.8;
}
[data-theme='light'] body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
  color: #002b36;
  letter-spacing: 0.75px;
  word-spacing: 1.25px;
  line-height: 1.8;
}



[data-theme='dark'] .header {
  background-color: #002b36;
  font-family: 'JetBrains Mono', monospace;
}
[data-theme='light'] .header {
  font-family: 'JetBrains Mono', monospace;
  background-color: #002b36;
  color: #f1f1f1;
}




[data-theme='dark'] .menu__inner {
  font-family: 'Open Sans', sans-serif;
  background-color: #002b36;
  letter-spacing: 4px;
  word-spacing: 4px;
  letter-spacing: 0px;
  word-spacing: 0px;  
}
[data-theme='light'] .menu__inner {
  font-family: 'Open Sans', sans-serif;
  background-color: #002b36;
  letter-spacing: 0px;
  word-spacing: 0px;
}



[data-theme='dark'] .logo__cursor {
  background-color: #00ffba; 
}
[data-theme='light'] .logo__cursor {
  background-color: #00ffba; 
}



[data-theme='dark'] a:hover {
  color: #ffb531;
}
[data-theme='light'] a:hover {
  color: #ffb531;
}



[data-theme='dark'] code {
  background: #00ffba;
  color: black;
}
[data-theme='light'] code {
  background: #00ffba;
  color: black;
}



[data-theme='dark'] .button {
  background: #ffb531;
  color: black;
}
[data-theme='light'] .button {
  background: #ffb531;
  color: black;
}




[data-theme='dark'] .button {
  background: #ffb531;
  color: black;
}
[data-theme='light'] .button {
  background: #ffb531;
  color: black;
}



[data-theme='dark'] .previous:hover,
[data-theme='dark'] .next:hover {
  color: black;
  background-color: #7097a8;
}
[data-theme='light'] .previous:hover,
[data-theme='light'] .next:hover {
  color: black;
  background-color: #7097a8;
}



[data-theme='dark'] em,
[data-theme='dark'] i,
[data-theme='dark'] strong {
  color: #dc322f;
}
[data-theme='light'] em,
[data-theme='light'] i,
[data-theme='light'] strong {
  color: #dc322f;
}



[data-theme='dark'] .pagination__title-h {
  background: #7097a8;
}
[data-theme='light'] .pagination__title-h {
  background: #7097a8;
}






















